body {
    background: rgb(28, 113, 124);
    color: #fff;
    margin: 0; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.conteudo {
    margin: 0 auto;
    width: 100%;
    max-width: 450px;
    margin-top: 50px;
    margin-bottom: 50px;
    background: rgba(255, 255, 255, 0.315);
    padding: 105px;
    /*55*/
    border-radius: 12px; 
}

.topo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.topo input {
    width: 350px;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid rgb(19, 124, 115);
    outline: none;
    font-size: 1.2rem;
    background: #ffffff;
    color: rgb(19, 124, 115);
}

.topo button {
    width: 45px; 
    border-radius: 12px;
    border: 1px solid rgb(19, 124, 115);
    background: #ffffff;
    color: rgb(19, 124, 115);
    outline: none;
}

.topo button:hover {
    background: #e7e5e5;
    cursor: pointer;
}

#listaMetas {
    list-style-type: none;
    padding: 0;
    margin: 0; 
}

#listaMetas li {
    padding: 8px;
    background: #ffffff;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    color: rgb(19, 124, 115);
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(19, 124, 115);
}

.btnAcao {
    border-radius: 20px;
    border: 1px solid rgb(19, 124, 115);
    width: 38px;
    height: 38px;
    margin-right: 8px; 
    cursor: pointer;
    background: #ffffff;
    color: rgb(19, 124, 115);
    outline: none;
}

.btnAcao:hover {
    background: #e7e5e5;
}

.textoMeta {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 290px;
    white-space: nowrap;
}

#janelaEdicao {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #191818;
    border: 1px solid #2f2e2e;
    width: 415px;
    border-radius: 12px;
    z-index: 200;
    display: none; 
}

#janelaEdicao.abrir {
    display: block !important;
}

#janelaEdicaoFundo {
    position: fixed;
    top: 0;
    background-color: #000;
    bottom: 0;
    left: 0;
    opacity: 0,9;
    z-index: 0;
    right: 0;
    display: none; 
}

#janelaEdicaoFundo.abrir {
    display: block !important;
}

#janelaEdicaoBtnFechar {
    position: absolute;
    top: -25px;
    right: -18px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #2d2c2c;
    background: #2d2c2c;
    color: #fff;
    outline: none;
    cursor: pointer;
}

form {
    width: 100%;
    margin-top: 20px;
}

.frm-linha {
    display: flex;
    flex-direction: column;
    margin-bottom: 20xp;
}

.frm-linha label {
    margin-bottom: 7px;
}

.frm-linha input {
    padding: 15px;
    border-radius: 12px;
    outline: none;
    border: 1px solid #191818;
    font-size: 1.2rem;
    background: #2d2c2d;
    color: #fff;
}

.frm-linha button {
    background: #2d2c2d; 
    border: 1px solid #191818;
    padding: 7px;
    margin-bottom: 10px;
    border-radius: 12px;
    color: #ccc;
    cursor: pointer;
    height: 50px;
    font-size: 1.3rem;
    outline: none;
}

.frm-linha button:hover {
    background: #3c3a3a;
}